
#fire{
    background-color: #c72100;
}
#water{
    background-color: #0c67c2;
}
#grass{
    background-color: #3b9c05;
}
#bug{
    background-color: #88960e;
}
#flying{
    background-color: #9aabf6;
}
#normal{
    background-color: #c6c0b8;
}
#electric{
    background-color: #f9b716;
}
#psychic{
    background-color: #e8437c;
}
#fighting{
    background-color: #81341d;
}
#ice{
    background-color: #7bd9f7;
}
#poison{
    background-color: #8c408e;
}
#rock{
    background-color: #b1994f;
}
#fairy{
    background-color: #f3aef3;
}
#dark{
    background-color: #423126;
}
#ground{
    background-color: #d0af52;
}
#steel{
    background-color: #9393a5;
}
#dragon{
    background-color: #705ad8;
}
#ghost{
    background-color: #454593;
}
.filterType{
    background-color: rgba(206, 206, 206, 0.555);
}