*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(../media/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}
.title{
    margin: 10px;
    padding-left: 100px;
    width: 25%;
    display: flex;
    justify-content: center;
}
.contain{
    width: 95%;
    background-color: rgba(49, 49, 49, 0.2);
    display: flex;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px;
}
.contain--head{
    /* position: absolute; */
    padding: 5px 10px 20px 10px ;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.contain--head__search{
    background-color: rgba(206, 206, 206, 0.555);
    border-radius: 20px;
    border: none;
    border-bottom: rgba(0, 0, 0, 0.39) solid 3px;
    width: 50%;
    height: 40px;
    padding: 10px 40px;
    outline: none;
}
.contain--head__search::placeholder{
    color: black;
    font-weight: bolder;
}
.contain--head--filter{
    background-color: rgba(206, 206, 206, 0.555);
    border-radius: 5px;
    border: none;
    /* border-bottom: rgba(0, 0, 0, 0.39) solid 3px; */
    /* height: 40px; */
    width: 100px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.filter--display{
    border-radius: 5px 5px 0px 0px;
}
.contain--head--filter button{
    justify-content: center;
    align-self: center;
    position: absolute;
    border-color: rgb(0, 0, 0,0);
    background-color: rgb(0, 0, 0,0);
    outline: none;
    cursor: pointer;
}
.contain--head--filter__list{
    flex-direction: column;
    position: relative;
    top: 130px;
    margin: -80px 0px;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(206, 206, 206, 0.555);
    list-style: none;
    cursor: default;
    overflow-y: scroll;
}
.contain--head--filter__list li{
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    border-top: 0.5px solid rgb(41, 41, 41);
    cursor: pointer;
}
.contain--head--filter__list::-webkit-scrollbar{
    display: block;
}

/* style cards-pokemons */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon{
    display: flex;
    flex-direction:column ;
    width: 130px;
    margin: 2px;
    padding: 15px;
    font-size: small;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 20px;
    position: static;
}
.clicked{
    flex-direction: row;
    border: rgb(20, 20, 20) solid 4px;
    width: 300px;
    position: fixed;
    top: 30%; left: 38.75%;
}
.clicked .pokemon--basic{
    width: 50%;
    height: 40%;
}
.clicked .stats{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-left: rgba(0, 0, 0, 0.39) solid 1px;
}
.stats{
    display: none;
}

.img{
    border: solid 1em rgba(255, 255, 255, 0);
    border-radius: 10px ;
    background-color: rgba(200, 200, 200, 0.8);
}
.pokemon--basic div{
    display: flex;
    justify-content: center;
}



/* display none */
.display--none{
    display: none;
}